{% extends 'base.html' %}

{% block content %}

    <div class="container mb-5">
        <h3>Publications</h3>
        <hr>
        {% for publication in publications %}
            {% if publication.is_published %}
                <div class="publication-section">
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <h5 class="mb-2">{{ publication.title }}</h5>
                            <small>{{ publication.authors }} ({{ publication.year }}), <em>{{ publication.journal }}</em></small>
                        </div>
                    </div>
                    <div class="row">
                        {% if publication.feature_image %}
                            <div class="col-lg-6 col-md-12 img">
                                <img src="{{ publication.feature_image.url }}" class="img-fluid">
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <p>{{ publication.abstract }}</p>
                            </div>
                        {% else %}
                            <div class="col-lg-12 col-md-12">
                                <p>{{ publication.abstract }}</p>
                            </div>
                        {% endif %}
                    </div>
                    {% if publication.doi %}
                        <div class="row mb-2">
                            <small><em><a href="{{ publication.doi }}" target="_blank">Full Article</a></em></small>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container mb-5">
        <h3>Manuscripts in Preparation</h3>
        <hr>
        {% for publication in publications %}
            {% if not publication.is_published %}
                <div class="publication-section">
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <h5 class="mb-2">{{ publication.title }}</h5>
                            <small>{{ publication.authors }} (in preparation)</small>
                        </div>
                    </div>
                    <div class="row">
                        {% if publication.feature_image %}
                            <div class="col-lg-6 col-md-12">
                                <img src="{{ publication.feature_image.url }}">
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <p>{{ publication.abstract }}</p>
                            </div>
                        {% else %}
                            <div class="col-lg-12 col-md-12">
                                <p>{{ publication.abstract }}</p>
                            </div>
                        {% endif %}
                    </div>
                    {% if publication.doi %}
                        <div class="row mb-2">
                            <small><em><a href="{{ publication.doi }}" target="_blank">Full Article</a></em></small>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}